<nav role="navigation" aria-label="Main navigation">
    <ul class="navigation-list">

        <li class="navigation-list-item">
            <a href="https://gsabater.github.io/eagle-docs/" class="navigation-list-link">Introduction</a>
        </li>

        <li class="navigation-list-item">
            <a href="https://gsabater.github.io/eagle-docs/requeriments" class="navigation-list-link">Requeriments</a>
        </li>


        <li class="navigation-list-item active">
            <h3 class="navigation-list-link">
                Installation
            </h3>

            <ul class="navigation-list-child-list">
                <li class="navigation-list-item ">
                    <a href="https://gsabater.github.io/eagle-docs/how-to-install"
                        class="navigation-list-link">How to install
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
